body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playwrite AU QLD", cursive;
    background-color: black;
}
.rap{
    width: 100%;
    height: 350px;
}

.titre{
    font-size: 3rem;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}
ul strong{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
ul li {
    list-style: none;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    animation: glow 4s ease-in-out infinite;
    border-radius: 100px;
}
.para1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.carte{
    width: 100%;
    height: auto;
    perspective: 1000px;
    margin: 30px ;
    padding: 50px;
    }
.interieur{
    width: 100%;
    height: auto;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.interieur.flipped{
    transform: rotateY(180deg);
}

.devant img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
}
.derriere {
    width: 400px;
    height: 400px;
    background-color: black;
    color: wheat;
    transform: rotateY(180deg);
    font-size:1.3rem ;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px 10px wheat;
    border-radius: 20px;
    padding: 10px;
}
.texte{
    color: wheat;
    font-size: 1.5rem;
}
.lien{
    color: orange;
    text-decoration: none;
    transition: 1s;
}
.lien:hover{
   box-shadow: 0 3px 0 0 wheat;
}
.para2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;}
.carte2{
    width: 100%;
    height: auto;
    perspective: 1000px;
    margin: 30px ;
    padding: 50px;
    }
.interieur2{
    width: 100%;
    height: auto;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.interieur2.flipped{
    transform: rotateY(180deg);
}
.devant2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
}
.derriere2 {
    width: 400px;
    height: 400px;
    background-color: black;
    color: wheat;
    transform: rotateY(180deg);
    font-size:1.3rem ;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px 10px wheat;
    border-radius: 20px;
    padding: 10px;
}
.next{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
    transition: 1.5s ease-in-out;
}
.next:hover{
    color: red;
}
.video{
    text-align: center;
    color: wheat;
}
@media screen and (max-width: 768px) {
    .para1,.para2 {
        flex-direction: column;
        padding: 20px;
        margin: 20px;
       
    }
        

    .titre {
        font-size: 2rem;
       padding: 50px;
    }

    .carte,.carte2 {
        flex-wrap: wrap;
        width: 100%;
        aspect-ratio: 4/3;
    }

    .derriere,.derriere2 {
        width: 90%;
        font-size: 0.9rem;
        padding: 25px;
    }
}
   
