body{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playwrite AU QLD", cursive;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px auto;
    gap: 50px;
    color: wheat;
    font-size: 3rem;
    text-shadow: 0 10px 20px red;
}
.rap2{
    max-width: 90%;
    height: auto;
    border-radius: 150px;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn{
    color: wheat;
}
.carte3{
    width: 320px;
    height: 320px;
    perspective: 1000px;
    margin: 30px auto; 
    padding: 20px;  
      user-select: none;
    -webkit-tap-highlight-color:
    transparent;
    outline:none;
}
.carte3{
    outline: none;
}
.carte3:focus {
    outline: none;
}
.interieur{
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.interieur.flipped{
    transform: rotateY(180deg);
    box-shadow: 0 5px 10px white;
   
}

.devant , .derriere{
    position: absolute;
    max-width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    
}
.section{
    width: 100%;
    height: auto;
}
.devant img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    object-fit: cover;
}
.derriere{
    max-width: 100%;
    height: auto;
    background-color: black;
    color: wheat;
    transform: rotateY(180deg);
    font-size: 1.5rem;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lien{
    text-decoration: none;
    color: orangered;
    transition: 0.7s ease-in-out;
}
.lien:hover{
    color: #ffd700;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wheat;
    text-shadow: 0 10px 20px red;
}
.résumer{
    font-size: 1.5rem;
    line-height: 1.8;
    color: wheat;
    margin: 10px auto;
    padding: 20px;
}

.table{
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
   margin: 50px;
    gap: 50px;
     color: wheat;
}

th, td {
    border-collapse:collapse;   
    border: 2px solid red;
    padding: 10px;
    text-align: center;
}
.next1{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: yellow;
    transition: 1.5s ease-in-out;
}
.next1:hover{
    color: red;
}
@media screen and (max-width: 768px) {
    header{ font-size: 1.9rem;
     
        flex-direction: column;
    }
    .block{
        flex-direction: column;
    }
    .table{
        flex-direction: column;
        margin-inline: 20px;
    }
    .résumer{
        font-size: 1rem;
    }
}
