

body{
     font-family: "Playwrite AU QLD", cursive;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    
}
.entete3{
    display:flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    margin: 0 30px;
    font-size: 3rem;
    color: grey;
    text-shadow: 0 5px 10px red;
}
.carte4{
    width: 900px;
    height:500px ;
    perspective: 1000px;
    margin: 50px auto; 
    user-select: none;
    -webkit-tap-highlight-color:
    transparent;
    outline:none
   
    
}
.interieur{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}
.interieur.flipped{
    transform: rotateY(180deg);
}
.devant, 
.derriere{ 
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;

}
.devant img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    object-fit: cover;
}
.derriere{
    max-width: 100%;
    height:100%;
    background-color: black;
    color: grey;
    transform: rotateY(180deg);
    font-size: 2rem; 
    overflow: scroll;
    box-shadow: 0 5px 5px 5px wheat;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.derriere::-webkit-scrollbar {
      display: none; /* Chrome/Safari : cache la barre */
  }
.info{
    font-size: 1.5rem;
}
@media screen and (max-width:768px) {
    
.entete3 {
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
}
.rap3{
    width: 400px;
    }
.carte4{
    width: 380px;
    height: 200px;
}
 .derriere {
    
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; /* ⚡️ effet fluide sur iPhone */
      scrollbar-width: none; /* Firefox : cache la barre */
  }

  .derriere::-webkit-scrollbar {
      display: none; /* Chrome/Safari : cache la barre */
  }
}






















