body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Playwrite AU QLD", cursive;
    background-color: black;
}
.rap{
    width: 100%;
    height: 350px;
}

.titre{
    font-size: 3rem;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}
ul strong{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style: none;
    width: 70px;
    height: 70px;
    font-size: 2rem;
    animation: glow 4s ease-in-out infinite;
    border-radius: 100px;
}
@keyframes glow {
    0%,10%,100%{
        transform: scale(0.2);
    }
    80%{
        transform: scale(1);
    }
}
ul li:nth-child(1){
    animation-delay: 2s;
    background-color: blue;
}
ul li:nth-child(2){
    animation-delay: 2s;
    background-color: blue;
}
ul li:nth-child(3){
    animation-delay: 2s;
    background-color: blue;
}
ul li:nth-child(4){
    animation-delay: 2s;
    background-color: white;
}
ul li:nth-child(5){
    animation-delay: 2s;
    background-color: white;
}
ul li:nth-child(6){
    animation-delay: 2s;
    background-color: white;
}
ul li:nth-child(7){
    animation-delay: 2s;
    background-color: red;
}
ul li:nth-child(8){
    animation-delay: 2s;
    background-color: red;
}
ul li:nth-child(9){
    animation-delay: 2s;
    background-color: red;
}
.para1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.carte{
    width: 90%;
    height: auto;
    perspective: 1000px;
    margin: 30px ;
    padding: 50px;
    }
.interieur{
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.interieur.flipped{
    transform: rotateY(180deg);
}

.devant img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
}
.derriere {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    font-size:1.3rem ;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px 10px white;
    border-radius: 20px;
    padding: 10px;
}
.texte{
    color: white;
}
.lien{
    color: orange;
    text-decoration: none;
    transition: 1s;
}
.lien:hover{
   box-shadow: 0 3px 0 0 white;
}
.para2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;}
.carte2{
    width: 30%;
    height: auto;
    perspective: 1000px;
    margin: 30px ;
    padding: 50px;
    }
.interieur2{
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    cursor: pointer;
   
}
.interieur2.flipped{
    transform: rotateY(180deg);
}
.devant2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50px;
}
.derriere2 {
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    font-size:1.3rem ;
    backface-visibility: hidden;
    box-shadow: 0 10px 20px 10px white;
    border-radius: 20px;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .para1,.para2 {
        flex-direction: column; /* cartes empilées verticalement */
        padding: 30px;
        margin: 10px;
        
    }

    .titre {
        font-size: 1.9rem;
        margin: 20px;
    }

    .carte,.carte2 {
        width: 90%;
        aspect-ratio: 4/3;
    }

    .derriere,.derriere2 {
        width: 90%;
        font-size: 0.9rem;
        padding: 25px;
    }
}
   
